@use 'variables' as *;

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Verdana, Arial, sans-serif;
    font-weight: normal;
    color: $primary-text-color;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;

}

p{
    font-size: 18px;
    font-weight: 400;
    color: $primary-text-color;
}

h2{
    color: $primary-text-color;
    font-size: 1.75rem;
    font-weight: bold;
}


