@use 'variables' as *;


@font-face {
    font-family: 'Verdana Pro';
    src: local('Verdana Pro'), local('VerdanaPro-Regular'),
        url('../../assets/fonts/VerdanaPro-Regular.woff2') format('woff2'),
        url('../../assets/fonts/VerdanaPro-Regular.woff') format('woff'),
        url('../../assets/fonts/VerdanaPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/VerdanaPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face{
    font-family: "Verdana Pro";
    font-weight: 700;
    src: local('Verdana Pro Bold'), local('VerdanaPro-Bold'),
        url('../../assets/fonts/VerdanaPro-Bold.woff2') format('woff2'),
        url('../../assets/fonts/VerdanaPro-Bold.woff') format('woff'),
        url('../../assets/fonts/VerdanaPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/VerdanaPro-Bold.ttf') format('truetype');
    font-weight: bold;
}



// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: "Verdana Pro", Arial, sans-serif;
    font-weight: 400;
    color: $primary-text-color;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;

}

p,
p i {
    font-size: 18px;
    font-weight: 400;
    color: $primary-text-color;
}

h2{
    color: $primary-text-color;
    font-size: 1.75rem;
    font-weight: bold;
}


