@use 'variables' as *;
@use 'mixins' as *;


// Navigation Sticky fix. Sticky only applies to the parent element, 
//  so we need to make sure that the container element is the one that is 
//  sticky.
.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.main-nav {
    background-color: #FFFFFF;
    width: 100%;
    min-width: 375px;
    z-index: 1000;
    padding-bottom: 1rem;
    display: block;
    text-align: center;

    @include small-device {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0px;
    }

    &__title {
        padding-left: 5vw;
        text-decoration: none;


        h2 {
            padding-bottom: 0.5rem;
        }


        &:visited {
            color: inherit;
        }
    }

    &__list {
        padding-right: 2vw;

        @include small-device {
            padding-right: 5vw;
        }

        li {
            margin: 0 1rem;
            display: inline;
            font-size: 1rem;

            @include small-device {
                font-size: 1.2rem;
            }

            a {
                text-decoration: none;
                padding: 0.5rem 0px;
                color: $primary-text-color;

                &:visited {
                    color: inherit;
                }

                &:hover {
                    color: $highlight-color;
                    border-bottom: $highlight-color 4px solid;
                }
            }
        }

        &--emphasis {
            border-bottom: $highlight-color 4px solid;
            line-height: 0%;
        }
    }
}