@use 'variables' as *;
@use 'mixins' as *;


// Navigation Sticky applies only within parent container, so must be applied to the header
.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.main-nav {
    background-color: #FFFFFF;
    width: 100%;
    min-width: 375px;
    z-index: 1000;
    padding-bottom: 1rem;
    text-align: center;

    @include small-device {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0px;
    }

    &__title {
        margin-left: 5vw;
        text-decoration: none;
        border-bottom: rgba($highlight-color, 0 ) 4px solid; //Made border-bottom transparent, so that hovering doesn't increase the height of the nav bar
        
        h3 {
            padding-bottom: 0.5rem;
            margin-top: 0;

            @include small-device {
            margin-top: 0.5rem;
            }
        }


        &:visited {
            color: inherit;
        }

        &:hover {
                color: $highlight-color;
                border-bottom: $highlight-color 4px solid;
            }
    }

    &__list {
        padding-right: 2vw;

        @include small-device {
            padding-right: 5vw;
        }

        li {
            margin: 0 1rem;
            display: inline;
            font-size: 1rem;

            @include small-device {
                font-size: 1.2rem;
            }

            a {
                text-decoration: none;
                padding: 0.5rem 0px;
                color: $primary-text-color;

                &:visited {
                    color: inherit;
                }

                &:hover {
                    color: $highlight-color;
                    border-bottom: $highlight-color 4px solid;
                }
            }
        }

        &--emphasis {
            border-bottom: $highlight-color 4px solid;
        }
    }
}