$primary-text-color: #335576;
$secondary-text-color: #DB7A4E;

$card-text-color: #FFFFFF;
$highlight-color: #DB7A4E;

$primary-background-color: #FEFAF5;
$secondary-background-color: #FFFFFF;

$medium-device-breakpoint: 768px;
$large-device-breakpoint: 968px;
$desktop-breakpoint: 1280px;

// /* Small devices such as large phones (640px and up) */
// @media only screen and (min-width: 40em) {...}

// /* Medium devices such as tablets (768px and up) */
// @media only screen and (min-width: 48em) {...}

// /* Large devices such as laptops (1024px and up) */
// @media only screen and (min-width: 64em) {...}

// /* Largest devices such as desktops (1280px and up) */
// @media only screen and (min-width: 80em) {...}