$primary-text-color: #335576;
$secondary-text-color: #DB7A4E;

$card-text-color: #FFFFFF;
$highlight-color: #DB7A4E;

$primary-background-color: #FEFAF5;
$secondary-background-color: #FFFFFF;

$small-device-breakpoint: 640px;
$medium-device-breakpoint: 768px;
$large-device-breakpoint: 1024px;
$desktop-breakpoint: 1280px;

// /* Small devices such as large phones (640px and up) */
// /* Medium devices such as tablets (768px and up) */
// /* Large devices such as laptops (1024px and up) */
// /* Largest devices such as desktops (1280px and up) */